[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"
v = {editable = true,version = "*"}

[packages]
torch = "*"
opencv-contrib-python = "==4.0.0.21"
mxnet = "*"
sklearn = "*"
easydict = "*"
scikit-image = "*"
pandas = "*"
loguru = "*"
pysnooper = "*"
torchvision = "*"
tqdm = "*"
psutil = "*"
